a{
    text-decoration: none;
    color: #333;

    
}

li{
    list-style-type: none;
}

.headerWrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    position: sticky;
    top: 0px;
    background-color: #fff;
    
}

.headerNavbar ul{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.headerBtn{
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: center;

}